<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Grubber 0.2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script type="text/javascript" src="/static/js/fprice.jquery.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    		var fprice = $('#container').fprice('call');
    	});
    </script>
</head>
<body>
    <div id='container'></div>
</body>
</html>